@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';

.wrapper {
  position: relative;

  button {
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .menu {
    
  }
}