@import 'src/assets/styles/variables';

.input {
  background-color: $accent-color;
  border: 1px solid transparent;
  color: $White-color;
  font-size: 12px;
  font-family: $default-font;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
  width: 100%;

  &:focus {
    border-color: rgba($accent-color, 0.3);
  }

  &::placeholder {
    color: #ffffff;
  }

}

.error {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 10px;


}