@import 'src/assets/styles/variables';

.button {
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 13px 48px;
  transition: background-color 0.2s ease;
  background-color: $accent-color;
  cursor: pointer;
  color: #fff;

  @media (max-width: $mobile) {
    font-size: 16px;
    padding: 12px 38px;
  }

  &:hover {
    background-color: rgba($accent-color, 0.6);
  }

  &:main {
    background-color: rgba(255, 255, 255, 0.25);
  }

}

.wrapper {
  text-align: center;
}